<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= t(".donation_title") %></h5>
    <p class="card-text"><%= t(".app_description") %></p>
    <%= button_to payments_path, class: "btn btn-primary d-flex gap-2 align-items-center", data: { turbo: false } do %>
      <i class="fa fa-heart"></i>
      <span><%= t(".donate") %></span>
    <% end %>
  </div>
</div>

<div id="my_donations" class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t(".my_donations") %></h5>

    <table class="table table-sm">
      <thead>
        <tr>
          <th><%= Donation.human_attribute_name(:created_at) %></th>
          <th><%= Donation.human_attribute_name(:total_paid_amount) %></th>
          <th><%= Donation.human_attribute_name(:payment_status) %></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "donation", collection: @donations %>
      </tbody>
    </table>
  </div>
</div>
