<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t(".donations") %></h5>

    <%= render "search_form" %>

    <table id="donations" class="table table-sm">
      <thead>
        <tr>
          <th><%= Donation.human_attribute_name(:created_at) %></th>
          <th><%= Donation.human_attribute_name(:user) %></th>
          <th><%= Donation.human_attribute_name(:total_paid_amount) %></th>
          <th><%= Donation.human_attribute_name(:net_received_amount) %></th>
          <th><%= Donation.human_attribute_name(:payment_status) %></th>
          <th><%= Donation.human_attribute_name(:updated_at) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @donations %>
      </tbody>
    </table>
  </div>
</div>
